@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

@media only screen and (min-width: 1024px) {
    .body-container {
        display: flex;

    }

    .sidemenu {
        border: 2px solid black;
        position: fixed;
        left: 3px;
        width: 181px;
        top: 25px;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        font-family: "Edu AU VIC WA NT Hand", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    }

    /* button {
        padding: 10px;
        border: none;
        background-color: #e0a8d5;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    } */
}


#topic-button {
    padding: 10px;
    border: none;
    /* background-color: #333433; */
    /* color: rgb(10, 10, 10); */
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#topic-button:hover {
    background-color: #a8a4a4;
}


.sidemenu {
    background-color: rgb(63, 62, 62);
}

.topic-content {
    color: aliceblue;
    margin-top: -13px;
}

.topic-content a {
    color: aliceblue;
    text-decoration: none;
}

.topic-content a:hover {
    color: rgb(164, 201, 233);
    text-decoration: none;
}

.list {
    display: flex;
    /* justify-content: center; */
}

.span img {
    height: 20px;
    /* padding-top: 10px; */
    transition: transform 0.4s ease, filter 0.4s ease;
}

.span img:hover {
    cursor: pointer;
    animation: zoomIn 1s ease;
    filter: brightness(1.3);
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.side-section {
    padding-left: 0;
}

.side-subsection {
    padding-left: 25px;
}

.side-subsubsection {
    padding-left: 14px;
}

.container-fluid .navbar-brand:hover {
    animation: zoomIn 1s ease;
    filter: brightness(1.3);
}

.button-close:hover {
    animation: zoomIn 1s ease;
    color: red;
}